<h1>Book Flight</h1>
<h2>
  <%= @flight.to_airport.code %> ->
  <%= @flight.from_airport.code %>
</h2>
<h4>
  <%= @flight.datetime.to_formatted_s(:long) %>
</h4>
<div class="row">
  <h3>Enter Passenger Info:</h3>
  <%= form_for @booking do |b| %>
    <% @passengers.each do |passenger| %>
      Pasenger Data Placeholder
    <% end %>
    <%= b.submit %>
  <% end %>
</div>
